body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top left, black 10%, red 100%);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover{
  color: white;
  background-color:black;
}
.btn-disabled{
  pointer-events: none;
}


#root{
  text-align:center;
  display: flex;
}

.player-container{
  color: white; 
  text-align: center; 
  font-size: 30px; 
  width: 300px;
  height: 350px;
  background-image: linear-gradient(to top left, blue 0%, black 100%);
  border-radius: 10px;
}
.toggle-player{
  -webkit-filter: blur(2px);
  filter: blur(2px)
}
